@media screen and (min-width: 600px) {
   
   img{
      width: 80px;
   }

   /* ***********  typography  ************* */
   h1, h2{
      font-size: 2rem;
   }
   h3{
      font-size: 1.6rem;

   }
   h4{
      font-size: 1.4rem;
   }
   p {
      font-size: 1.2rem;
   }

   button{
      border-radius: 80px;
      padding: 25px;
      margin: 6px;
      position: absolute;
      right: 8%;
      bottom: 8%;
   }
   .explore{
      font-size: 1.6rem;
      text-decoration: none;
      color: var(--tertiarycolor);
   }

   section, header {
      max-width: 1170px;
      width: 97%;
      margin: auto;
  }

  .col-count{
   /* column-count: 3;
   column-gap: 2rem; */
   column-width: 320px;
   column-gap: 60px;
  }

   .grid{
      /* width: 95%; */
      max-width: 960;
      padding: 4px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      row-gap: 2rem;
      column-gap: .5rem;
   }
   .feat1{
      display: flex;
      flex-direction: column;      
   }
   .feat2{
      display: flex;
      flex-direction: column;      
   }
   .feat3{
      display: flex;
      flex-direction: column;      
   }

   .repo{
      font-size: 1.4rem;
      font-weight: bolder;
   }
}